/* This code has been included in styles.css */           
/* Simple browser reset */
* {
  box-sizing: border-box;
 }
 
 html,
 body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
 }

 body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
 }

 header {
  background: #2e8b57;
  color: #fff;
  padding: 10px 30px;
 }

 footer {
  background: #222;
  padding: 40px;
  text-align: center;
  color: #d8d8d8;
 }

 nav ul li {
  display: inline-block;
 }

 nav {
  width: 50%;
  display: inline-block;
  text-align: right;                           
 }

 nav ul {
  list-style: none;
  margin: 0;                             
 }

 nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;                                
 }

 nav ul li a:hover {
  background: #444;                    
}



 .hero_title {
  font-size: 100px;
  margin: 0;
  font-family: "Merriweather", serif;
 }
                                         
 .hero_subtitle {
  font-size: 40px;
  font-style: italic;
 }

 .hero {
  min-height: 800px;
  text-align: center;
  background-image: url("../public/img/dining.jpg");
  background-size: cover;                      
 }

 .hero_content {
  color: #ffffff;
  padding-top: 25px;                           
 }

 .hero_content a {
  display: inline-block; color: #fff;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
  transition: transform 1s;
 }
 
 .hero_content a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
 }

 .features_box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;   
 }

 .features_box {
  text-align: center;
  flex: 1;
  margin-left: 5px;
 }

 .features_box img {
  margin-bottom: 12px;
  width: 80px;
 }
 .features_box h5 {
  font-size: 20px;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
 }

 @media (max-width: 700px) {
  .features_box-wrapper {
   flex-wrap: wrap;
  }
  .features_box {
   flex: 1 100%;
  }
 }
